body {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background-color: #E8F9FD;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.orar ol {
    padding: 0;
}

.list-group-item{
    display:flex;
}

.color-primary {
    color: #A66CFF;
}

.color-secondare {
    color: #9C9EFE;
}

.color-secondare-light {
    color: #AFB4FF;
}

.color-bg {
    color: #B1E1FF;
}