body {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background-color: white;
}

#logo img {
    height: 50px;
}

body.light-theme a {
    color: white;
  }


.top-header {
    align-items: flex-start!important;
}
/* nav { 
    background-color: #79DAE8
} */

body.dark-theme {
    color: white ;
    background-color: #495057 ;
  }

  body.dark-theme a {
    color: #adb5bd;
  }



nav.dark-theme {
    background-color: red!important;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.orar ol {
    padding: 0;
}

.list-group-item{
    display:flex;
}

.color-primary {
    color: #A66CFF;
}

.color-secondare {
    color: #9C9EFE;
}

.color-secondare-light {
    color: #AFB4FF;
}

.color-bg {
    color: #B1E1FF;
}

.card-header {
    display: flex;
    justify-content: space-between;
}